<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
 <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
	 <customErrors mode="Off"></customErrors>
  </system.web>

	<appSettings>
		<add key="Host" value="smtp.office365.com"/>
		<add key="EnableSsl" value="true"/>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<add key="Port" value="25"/>
		<add key="EmailFrom" value=""/>
		<add key="AdminEmail" value=""/>
		<add key="UseDefaultCredentials" value="false"/>
	</appSettings>

</configuration>
